---
layout: default
---

{% include latest-post.html %}

<div class="episodes container">
  {% for post in site.posts offset:1 %}
  <article class="row">
    <header class="episode-header">
      <a href="{{ post.url }}" class="episode-date">{{ post.date | date: "%d/%m/%y" }}</a>
      <h2>
        <a href="{{ post.url }}" title="{{ post.title }}" class="episode-title" rel="bookmark">{{ post.title }}</a>
      </h2>
    </header>

    <div class="episode-content">
      {% if post.excerpt %}
        {{ post.excerpt }}
        <p><a href="{{ post.url }}" class="more-link">Acessar episódio <span class="arrow">→</span></a></p>
      {% else %}
        {{ post.content }}
      {% endif %}
    </div>
  </article>
  {% endfor %}

</div><!-- /#content -->
